<div id="styles">

    <div class="style-category">
        <div class="style-category-header"><h2>Styles</h2></div>
        <div class="style-category-body">

            <div class="settings-section">
                <div class="settings-section-header">Factions</div>
                <div class="settings-section-body">
                    <div class="settings-buttons">
                        <button class="theme-btn" data-theme="helldivers">Helldivers</button>
                        <button class="theme-btn" data-theme="terminids">Terminids</button>
                        <button class="theme-btn" data-theme="automatons">Automatons</button>
                        <button class="theme-btn" data-theme="illuminate">Illuminate</button>
                    </div>
                </div>
            </div>

            <div class="settings-section">
                <div class="settings-section-header">Colors</div>
                <div class="settings-section-body">
                    <div class="settings-buttons">
                        <button class="theme-btn" data-theme="red">Red</button>
                        <button class="theme-btn" data-theme="green">Green</button>
                        <button class="theme-btn" data-theme="blue">Blue</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="style-category">
        <div class="style-category-header"><h2>Super Styles</h2></div>
        <div class="style-category-body">

            <div class="settings-section">
                <div class="settings-section-header">The Galaxy</div>
                <div class="settings-section-body">
                    <div class="settings-buttons">
                        <button class="theme-btn" data-theme="meridian-black-hole">Meridian Black Hole</button>
                        <button class="theme-btn" data-theme="super-earth">Super Earth</button>
                    </div>
                </div>
            </div>

            <div class="settings-section">
                <div class="settings-section-header">Updates</div>
                <div class="settings-section-body">
                    <div class="settings-buttons">
                        <button class="theme-btn" data-theme="into-the-unjust">Into the Unjust</button>
                        <button class="theme-btn" data-theme="machinery-of-oppression">Machinery of Oppression</button>
                    </div>
                </div>
            </div>

            <div class="settings-section">
                <div class="settings-section-header">Warbonds</div>
                <div class="settings-section-body">
                    <div class="settings-buttons">
                        <button class="theme-btn" data-theme="odst">ODST</button>
                    </div>
                </div>
            </div>

            <div class="settings-section">
                <div class="settings-section-header">Warbond Previews</div>
                <div class="settings-section-body">
                    <div class="settings-buttons">
                        <button class="theme-btn" data-theme="siege-breakers">Siege Breakers</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<script src="./app/styles.js"></script>