<div id="styles">

    <div class="settings-section">
        <span class="settings-label">STYLES</span>
        <div class="settings-buttons">
            <button class="theme-btn" data-theme="helldivers">HELLDIVERS</button>
            <button class="theme-btn" data-theme="terminids">TERMINIDS</button>
            <button class="theme-btn" data-theme="automatons">AUTOMATONS</button>
            <button class="theme-btn" data-theme="illuminate">ILLUMINATE</button>
        </div>
    </div>

</div>
<script src="./app/styles.js"></script>